
.btn{
width: 80%;
height: 55px;
margin: 10px;
font-size: 30px;
color: black;
;
}
img{
width: 75%;
height: 180px;
margin: 10px;
font-size: 30px;

}
body {
	color: white;
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
}
@font-face {
    font-family: Reaper;
    src: url("../fronts/MB-The_Great_Reaper.ttf");
}

body {
    font-family: Reaper;
}
